*~
.svn
.cvs
*.bak
*.swp
Thumbs.db
.DS_Store
*.log
vendor
node_modules
composer.lock
config.yml
package-lock.json
sql/XXXXX.sql
yarn.lock

public_html/build
public_html/dist

*.sublime-project
*.sublime-workspace