
// Colors

$pink: #ff1f3e;


// Z-Index

$z-index-base: 1;
$z-index-mid: 2;
$z-index-high: 3;
$z-index-uber: 4;


// Breakpoints

$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;
$large-desktop-breakpoint: 1280px;


// Media Queries

$tablet-query: 'only screen and (min-width: ' + $mobile-breakpoint + ')';
$desktop-query: 'only screen and (min-width: ' + $tablet-breakpoint + ')';
$large-desktop-query: 'only screen and (min-width: ' + $large-desktop-breakpoint + ')';


// Fonts

// $header-font: "Header Font", sans-serif;
// $body-font: "Body Font", serif;


// Mixins

@mixin transition( $transition... ) {
	transition: $transition;
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
}

@mixin transform( $transform... ) {
	transform: $transform;
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
}

@mixin clearfix {
	*zoom: 1;
	&:before, &:after { display: table; content: ""; }
	&:after { clear: both; }
}

@mixin middle {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform( translate(-50%, -50%) );
}


// Functions

@function rv( $window-width, $value  ) {

	$responsive-unitless: $value / ( $window-width / 100 );
	$responsive-value: $responsive-unitless + vw;
	@return $responsive-value;

}